<a href="https://colab.research.google.com/github/Alex-Ukraine/python-intermediate/blob/master/itertools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tertools: product, permutations, combinations, accumulate, groupby, and infinite iterators

In [36]:
from itertools import product, permutations, combinations, combinations_with_replacement, accumulate, groupby, count, cycle, repeat

In [25]:
import operator

In [3]:
a = [1, 2]

In [4]:
b = [3, 4]

In [5]:
prod = product(a, b)
print(prod)

<itertools.product object at 0x7fd369036480>

In [6]:
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [7]:
b = [3]
prod = product(a, b, repeat=2)
print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [9]:
a = [1, 2, 3]
perm = permutations(a)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [10]:
perm = permutations(a, 2)
print(list(perm))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [18]:
a= [1, 2, 3, 4]
comb = combinations(a, 2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [22]:
a = [1, 2, 3, 4]
comb_wr = combinations_with_replacement(a, 2)
print(list(comb_wr))

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [24]:
a = [1, 2, 3, 4]
acc = accumulate(a)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]

In [26]:
a = [1, 2, 3, 4]
acc = accumulate(a, func=operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [28]:
a = [1, 2, 5, 3, 4]
acc = accumulate(a, func=max)
print(a)
print(list(acc))

[1, 2, 5, 3, 4]
[1, 2, 5, 5, 5]

In [31]:
def smaller_than_3(x):
    return x < 3

In [32]:
a = [1, 2, 3, 4]
group_obj = groupby(a, key=smaller_than_3)
for key, value in group_obj:
    print(key, list(value))

True [1, 2]
False [3, 4]

In [33]:
a = [1, 2, 3, 4]
group_obj = groupby(a, key=lambda x: x < 3)
for key, value in group_obj:
    print(key, list(value))

True [1, 2]
False [3, 4]

In [34]:
persons = [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25},
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28},]

In [35]:
group_obj = groupby(persons, key=lambda x: x['age'])
for key, value in group_obj:
    print(key, list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [38]:
for i in count(7):
    print(i)
    if i == 15:
        break

7
8
9
10
11
12
13
14
15

In [ ]:
a = [1, 2, 3]
for i in cycle(a):
    print(i)

In [43]:
for i in repeat(1, 4):
    print(i)

1
1
1
1